@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  z-index: 5;
}
.logo h2{
  color: #ffffff;
  position: absolute;
  top: 1.5rem;
  left:1.5rem;
  margin:0;
  padding:0;
}
nav .menu-icon {
  color: #ffffff;
  display: none;
}
nav .nav-links {
  margin: 0;
  padding:0;
  top:0;
  list-style: none;
  position: fixed;
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #333;
  transition: all 0.5s ease-in-out;
}
nav .nav-links li {
  margin: 1.5rem;
}

nav .nav-links li a{
  font-size: 2.5rem;
  text-decoration: none;
  font-family: "Bebas Neue", "Helvetica Neue";
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 27%, rgba(9,9,121,1) 73%, rgba(0,212,255,1) 100%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.75;
}

nav .nav-links a:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .logo h2{
    cursor: pointer;
    display:block;
    position:absolute;
    left: 1.5rem;
    top: 1.5rem;
    color: #ffffff;
  }
  nav .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }

  nav .nav-links {
    z-index: 2;
    list-style: none;
    position: fixed;
    top: 4rem;
    left: -110%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    transition: all 0.5s ease-in-out;
  }

  nav .nav-links li {
    opacity: 0;
  }
  
  nav .nav-links.show-links li {
    margin: 1.5rem;
    opacity: 1;
  }

  nav .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    margin: 20px 0;
    text-align: center;
    width: 100%;
  }

  nav .nav-links a:hover {
    color: #f9dbbd;
  }

  nav .nav-links.show-links {
    left: 0;
  }
}
