*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background: repeating-linear-gradient(to right, #000000, #000000 10%, #00000B 10%, #00000B 20%, #000016 20%, #000016 30%, #000021 30%, #000021 40%, #00002C 40%, #00002C 50%, #000037 50%, #000037 60%, #000042 60%, #000042 70%, #00004D 70%, #00004D 80%, #000058 80%, #000058 90%, #000063 90%, #000063);
    background-repeat: repeat-y;
    background-size: 100% 10%;
}

.container__title{
    margin-top: 4rem;
}

button {
    min-width: 100px;
    min-height: 50px;
    padding: 10px;
}
button {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.5;
    color: #fff;
    background-color: #007bff;
}
button {
    transition: background-color 0.3s ease-in-out;
}
  
button:hover {
    background-color: #0056b3;
}
  
button:active {
    transform: scale(0.95);
}
  
  
  