
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1{
  font-family: "Bebas Neue", "Helvetica Neue";
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background: repeating-linear-gradient(to right, #000000, #000000 10%, #00000B 10%, #00000B 20%, #000016 20%, #000016 30%, #000021 30%, #000021 40%, #00002C 40%, #00002C 50%, #000037 50%, #000037 60%, #000042 60%, #000042 70%, #00004D 70%, #00004D 80%, #000058 80%, #000058 90%, #000063 90%, #000063);
  background-repeat: repeat-y;
  background-size: 100% 10%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn-link {
    @apply text-base;
  }
  .section {
    @apply py-8 flex items-center min-h-screen;
  }
}

.btn {
  font-family: "Bebas Neue", "Helvetica Neue";
  color: #ffffff;
  letter-spacing: 2px;
}


.btn:active {
  transform: scale(0.95);
}


.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 50px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  width:100%;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 50px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  margin-right: 1rem;
}

.icons-contact{
  margin-bottom: 2rem;
}


.figure{
  width: 400px;
  height: 470px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 27%, rgba(9,9,121,1) 73%, rgba(0,212,255,1) 100%);
  border-radius: 43% 55% 70% 40% / 30% 33% 67% 70%;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  background-size: cover;
  filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 1.7));
  overflow: hidden;
  display: flex; flex-flow: column;
}
.figure img{
  box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  width: 500px;
  height: auto;
  filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 1.7));
  position:absolute;
  top: -10px;
  left: 0;
}


.btn {
  filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 1.7));
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.active {
  color: #fff;
  padding: 0.5rem;
  border-radius: 100%;
}

.text-gradient-blue{
  font-size: 2.5rem;
  text-decoration: none;
  font-family: "Bebas Neue", "Helvetica Neue";
}



.container__typewrite{
  z-index: -2;
  display: flex;
  flex-direction: column;
  background: #000000;
  color: white;
  margin: 2rem 0;
  width: 100%;
  height: 80px;
}






@media screen and (max-width:500px){
  .figure{
    
    width: 200px;
    height: 270px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 27%, rgba(9,9,121,1) 73%, rgba(0,212,255,1) 100%);
    border-radius: 43% 55% 70% 40% / 30% 33% 67% 70%;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    background-size: cover;
    filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 1.7));
    overflow: hidden;
    display: flex; flex-flow: column;
  }
  .figure img{
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    width: 300px;
    height: auto;
    filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 1.7));
    position:absolute;
    top: -10px;
    left: 0;
  }

  h1{
    text-align: center;
    font-size: 32px;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
  h4{
    font-size: 24px;
  }
}

