
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1{
  font-family: "Bebas Neue", "Helvetica Neue";
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background: repeating-linear-gradient(to right, #000000, #000000 10%, #00000B 10%, #00000B 20%, #000016 20%, #000016 30%, #000021 30%, #000021 40%, #00002C 40%, #00002C 50%, #000037 50%, #000037 60%, #000042 60%, #000042 70%, #00004D 70%, #00004D 80%, #000058 80%, #000058 90%, #000063 90%, #000063);
  background-repeat: repeat-y;
  background-size: 100% 10%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn-link {
    @apply text-base;
  }
  .section {
    @apply flex items-center min-h-screen;
  }
}

.btn {
  font-family: "Bebas Neue", "Helvetica Neue";
  color: #ffffff;
  letter-spacing: 2px;
}


.btn:active {
  transform: scale(0.95);
}


.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 50px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  width:100%;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 50px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  margin-right: 1rem;
}

.icons-contact{
  margin-bottom: 2rem;
}


.figure{
  width: 400px;
  height: 470px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 27%, rgba(9,9,121,1) 73%, rgba(0,212,255,1) 100%);
  border-radius: 43% 55% 70% 40% / 30% 33% 67% 70%;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  background-size: cover;
  filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 1.7));
  overflow: hidden;
  display: flex; flex-flow: column;
}
.figure img{
  box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  width: 500px;
  height: auto;
  filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 1.7));
  position:absolute;
  top: -10px;
  left: 0;
}


.btn {
  filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 1.7));
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.active {
  color: #fff;
  padding: 0.5rem;
  border-radius: 100%;
}

.text-gradient-blue{
  font-size: 2.5rem;
  text-decoration: none;
  font-family: "Bebas Neue", "Helvetica Neue";
}



.container__typewrite{
  z-index: -2;
  display: flex;
  flex-direction: column;
  background: #000000;
  color: white;
  margin: 2rem 0;
  width: 100%;
  height: 80px;
}






@media screen and (max-width:500px){
  .figure{
    
    width: 200px;
    height: 270px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 27%, rgba(9,9,121,1) 73%, rgba(0,212,255,1) 100%);
    border-radius: 43% 55% 70% 40% / 30% 33% 67% 70%;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    background-size: cover;
    filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 1.7));
    overflow: hidden;
    display: flex; flex-flow: column;
  }
  .figure img{
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    width: 300px;
    height: auto;
    filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 1.7));
    position:absolute;
    top: -10px;
    left: 0;
  }

  h1{
    text-align: center;
    font-size: 32px;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
  h4{
    font-size: 24px;
  }

  .banner{
    margin-top: 4rem;
  }
  .about{
    margin-top: 4rem;
  }
  .contact{
    margin:4rem 2rem;
  }
}
<<<<<<< HEAD
@media screen and (mim-width:1000px){
  .banner{
    min-height: 100vh;
  }
  .about{
    min-height: 100vh;
  }
  .services{
    min-height: 100vh;
  }
  .videos{
    min-height: 100vh;
  }
  .contact{
=======
@media screen and (min-width:1000px){
  .banner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
  }
  .about{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
  }
  .services{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
  }
  .videos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
  }
  .contact{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
>>>>>>> 8a3cc274bd700c6dc50dfc7f0761e75714b807bc
    min-height: 100vh;
  }
}

.videos{
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

{/*
.videos{
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect fill='none' stroke-width='1' id='a' x='-400' y='-300' width='800' height='600'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23000' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%23000011' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%23000022' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%23000033' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23000044' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%23000055' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%23000066' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23000077' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%23000088' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%23000099' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%230000aa' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%230000bb' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%230000cc' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%230000dd' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%230000ee' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%2300F' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}*/}
