
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1{
  font-family: "Bebas Neue", "Helvetica Neue";
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background: repeating-linear-gradient(to right, #000000, #000000 10%, #00000B 10%, #00000B 20%, #000016 20%, #000016 30%, #000021 30%, #000021 40%, #00002C 40%, #00002C 50%, #000037 50%, #000037 60%, #000042 60%, #000042 70%, #00004D 70%, #00004D 80%, #000058 80%, #000058 90%, #000063 90%, #000063);
  background-repeat: repeat-y;
  background-size: 100% 10%;
}

button {
  min-width: 100px;
  min-height: 50px;
  padding: 10px;
}

button {
  padding: 0 20px;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5;
  color: #fff;
  background-color: #007bff;
}

button {
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  transform: scale(0.95);
}
/*button dark*/
button{
  background: #0056b3;
  
}


.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 50px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  width:100%;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 50px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  margin-right: 1rem;
}

.icons-contact{
  margin-bottom: 2rem;
}


.figure{
  width: 400px;
  height: 470px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 27%, rgba(9,9,121,1) 73%, rgba(0,212,255,1) 100%);
  border-radius: 43% 55% 70% 40% / 30% 33% 67% 70%;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  background-size: cover;
  filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 1.7));
  overflow: hidden;
  display: flex; flex-flow: column;
}
.figure img{
  box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  width: 500px;
  height: auto;
  filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 1.7));
  position:absolute;
  top: -10px;
  left: 0;
}


.btn {
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  
  filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 1.7));
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#6156ff] font-bold font-primary hover:from-[#000a79] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
  
}

.text-gradient-blue{
  font-size: 2.5rem;
  text-decoration: none;
  font-family: "Bebas Neue", "Helvetica Neue";
  background: -webkit-linear-gradient(90deg, rgba(2,0,255,1) 27%, rgba(9,9,121,1) 73%, rgba(0,212,255,1) 100%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container__title{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f1f1f;
  width: 100%;
  height: 150px;
}
.container__typewrite{
  z-index: -2;
  display: flex;
  flex-direction: column;
  background: #000000;
  color: white;
  margin: 2rem 0;
  width: 100%;
  height: 80px;
}

.banner__h1{
  font-family: 'Bebas Neue', cursive;
  display: block;
  text-transform: uppercase;
  position: relative;
  transform-origin: 100% 0%;
  opacity: 1;
  transform: translate(0px, 0px);
  font-size: 120px;
  font-weight: 700;
  line-height: 0.8;
  margin: 0;
  margin-bottom: 4rem;
  color: #fff
}

.banner__h3{
  font-family: 'Bebas Neue', cursive;
  display: block;
  text-transform: uppercase;
  position: relative;
  transform-origin: 100% 0%;
  opacity: 1;
  transform: translate(0px, 0px);
  font-size: 115px;
  font-weight: 700;
  line-height: 0.8;
  margin: 0;
  margin-top: 3.5rem;
  color: #fff
}

.container__buttons__button__one{
  width: 161px;
  height: 52px;
  background-color: transparent;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem;
}

.container__buttons__button__two{
  width:200px;
  height: 52px;
  border-radius: 30px;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #14191e;
}

@media screen and (max-width: 360px) {
  .container__title{
    width: 100%;
    height: 100vh;
    z-index:-1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .container__buttons{
    background: #1f1f1f;
    width: 100%;
    height: 500px;
  }
  /* Estilos del botón para dispositivos móviles Galaxy S8 */
  .banner__button {
    display: block;
    margin: 1rem auto;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to bottom, #1a1a1a, #007bff);
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .container__buttons__button__one{
      align-items: start;
  }
  .container__buttons__button__two{
      min-width: 30%;
  }
  .banner__img{
    width: 60%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(-10px 20px 10px #000);
  }
}

@media screen and (max-width:500px){
  .figure{
    width: 200px;
    height: 270px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 27%, rgba(9,9,121,1) 73%, rgba(0,212,255,1) 100%);
    border-radius: 43% 55% 70% 40% / 30% 33% 67% 70%;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    background-size: cover;
    filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 1.7));
    overflow: hidden;
    display: flex; flex-flow: column;
  }
  .figure img{
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    width: 300px;
    height: auto;
    filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 1.7));
    position:absolute;
    top: -10px;
    left: 0;
  }

  h1{
    text-align: center;
    font-size: 32px;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
  h4{
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  h1{
    margin-top: 5rem;
  }
  .container__title{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .container__buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1f1f1f;
    width: 100%;
    height: 150px;
  }
  .banner__h1{
    font-family: 'Bebas Neue', cursive;
    display: block;
    text-transform: uppercase;
    position: relative;
    transform-origin: 100% 0%;
    opacity: 1;
    transform: translate(0px, 0px);
    font-size: 120px;
    font-weight: 700;
    line-height: 0.8;
    margin: 0;
    margin-bottom: 4rem;
    color: #fff
  }
  .banner__img{
    width: 60%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(-10px 20px 10px #000);
  }
  .banner__h3{
    font-family: 'Bebas Neue', cursive;
    display: block;
    text-transform: uppercase;
    position: relative;
    transform-origin: 100% 0%;
    opacity: 1;
    transform: translate(0px, 0px);
    font-size: 115px;
    font-weight: 700;
    line-height: 0.8;
    margin: 0;
    margin-top: 3.5rem;
    color: #fff
  }
  .container__buttons__button__one{
    width: 161px;
    height: 52px;
    background-color: transparent;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .container__buttons__button__two{
    width:200px;
    height: 52px;
    border-radius: 30px;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #14191e;
  }
}

@media screen and (min-width: 991px) {
  .main h4{
    font-size: 24px;
  }
  .banner__img{
    width: 30%;
    height: auto;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(-10px 20px 10px #000);
  }
}